.team-form-page {

    display: flex;

    justify-content:center;

    padding: 30px;

}

.team-form-card {

    width: 100%;

    max-width: 800px;

    background: white;

    border-radius: 14px;

    padding: 35px;

    box-shadow: 0 8px 30px rgba(0, 0, 0, .08);

}

.team-form-header {

    margin-bottom: 30px;

}

.team-form-header p {
    padding: 20px;
}
.team-form-header h1 {

    margin: 0;

    color: #1e293b;

}

.team-form-header p {

    color: #64748b;

    margin-top: 8px;

}

.team-form {

    display: flex;

    flex-direction: column;

    gap: 22px;

}

.form-group {

    display: flex;

    flex-direction: column;

}

.form-group label {

    margin-bottom: 8px;

    font-weight: 600;

    color: #334155;

}

.form-group input,

.form-group textarea {

    padding: 12px;

    border: 1px solid #d1d5db;

    border-radius: 8px;

    font-size: 15px;

}

.form-group textarea {

    resize: vertical;

}

.form-actions {

    display: flex;

    justify-content: flex-end;

    gap: 15px;

    margin-top: 20px;

}

.cancel-btn {

    padding: 11px 22px;

    border-radius: 8px;

    background: #e5e7eb;

    text-decoration: none;

    color: #374151;

}

.submit-btn-team {
    padding: 11px 24px;
    border: none;
    border-radius: 8px;
    background: #4f46e5;
    color: white;
    cursor: pointer;
}

.team-table {


    width: 100%;

    border-collapse: collapse;

    background: white;

    border-radius: 12px;

    overflow: hidden;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);


}

.team-table th {


    background: #f8fafc;

    padding: 15px;

    text-align: left;

    font-size: 14px;

    color: #64748b;

    border-bottom: 1px solid #e2e8f0;


}

.team-table td {


    padding: 15px;

    border-bottom: 1px solid #f1f5f9;

    color: #334155;


}

.team-table tr:hover {

    background: #f8fafc;

}

.actions-team {

    display: flex;

    gap: 15px;

    align-items: center;

}

.actions-team a {


    color: #4f46e5;

    font-size: 18px;


}

.actions-team button {


    border: none;

    background: none;

    cursor: pointer;

    color: #dd4747;


}

.actions-team button:hover,
.actions-team a:hover {


    opacity: .7;

}