.project-table {


    width: 100%;

    border-collapse: collapse;

    background: white;

    border-radius: 12px;

    overflow: hidden;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);


}



.project-table th {


    background: #f8fafc;

    padding: 15px;

    text-align: left;

    font-size: 14px;

    color: #64748b;

    border-bottom: 1px solid #e2e8f0;


}



.project-table td {


    padding: 15px;

    border-bottom: 1px solid #f1f5f9;

    color: #334155;


}



.project-table tr:hover {

    background: #f8fafc;

}

.actions-project {

    display: flex;

    gap: 15px;

    align-items: center;
  

}

.actions-project a {

    color: #5b4cf0;

}

.actions-project button {

    border: none;

    background: none;

    cursor: pointer;

    color: #dd4747;

}

.actions-project button:hover,
.actions-project a:hover {


    opacity: .7;

}

.status {

    padding: 6px 14px;

    border-radius: 20px;

    font-size: 13px;

    font-weight: 600;

}

.status.active {

    background: #dcfce7;

    color: #15803d;

}

.status.completed {

    background: #dbeafe;

    color: #1d4ed8;

}

.status.onhold {

    background: #fef3c7;

    color: #b45309;

}