.task-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.task-form label {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-weight: 600;
    color: #374151;
    font-size: 14px;
}

.task-form input,
.task-form textarea,
.task-form select {
    padding: 8px 12px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 14px;
}

.task-form textarea {
    resize: none;
    height: 60px;
}

.submit-btn-task {
    margin-top: 10px;
    background: #4f46e5;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

.submit-btn-task:hover {
    background: #483fac;
}

.page-card h1{
    color: #334155;
    font-size: 40px;
    margin-bottom: 30px;
}

.actions-task {

    display: flex;

    gap: 10px;

    align-items: center;

    margin-left: 10px;

}

.actions-task a {

    color: #5b4cf0;

}

.actions-task button {

    border: none;

    background: none;

    cursor: pointer;

    color: #dd4747;

}

.actions-task button:hover,
.actions-task a:hover {


    opacity: .7;

}


.task-table {


    width: 100%;

    border-collapse: collapse;

    background: white;

    border-radius: 12px;

    overflow: hidden;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);


}



.task-table th {


    background: #f8fafc;

    padding: 15px;

    text-align: left;

    font-size: 14px;

    color: #64748b;

    border-bottom: 1px solid #e2e8f0;


}



.task-table td {


    padding: 15px;

    border-bottom: 1px solid #f1f5f9;

    color: #334155;


}



.task-table tr:hover {

    background: #f8fafc;

}