.auth-container {

    height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    background: #f5f7fb;

}

.auth-card {

    width: 420px;

    background: white;

    padding: 40px;

    border-radius: 12px;

    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);

}